/* Your CSS will go here */ 

body{
	font-family: 'Shadows Into Light', cursive;
	    background: rgb(239, 253, 240);



}
h1{
	font-family: 'Raleway', sans-serif;
    background: rgba(239, 253, 240, 0.71);

}

.jumbotron h1{
    text-shadow: 4px 2px 7px #5e813c;
        width: 450px;
            color: rgb(52, 32, 21);



}
h1, .btn, input, img{
	    text-align: center;
    margin: 0 auto;
    display: block;
}

.container .jumbotron {
	background:url('background.gif');
    border-radius: 30px;
    margin-top: 10px;
    background-color: #ffeec9;
}
.btn {
	margin-top: 10px;
	width: 100px;
    height: 50px;
    font-size: 2em;
}

button.btn.btn-primary.active{
	    background: rgb(110, 75, 55);
	    	text-shadow: 1px 0px 1px black;


}

img{
	height: 260px;

}

li:nth-child(2n) .completed, .completed {
	text-decoration: line-through;
}

.fa-plus {
	float: right;
}

ul {
	list-style: none;
    margin: 0px 100px;
    /*padding-left: 0px;
    padding-bottom: 10px;*/
    padding: 10px 100px;

}

li {
    background: #a77d51;
	height: 40px;
	line-height: 40px;
    color: #ecece5;
	margin-bottom: 5px;
	font-size: 2em;
	text-shadow: 1px 0px 1px black;
}

li:nth-child(2n){
	background: rgb(110, 75, 55);
    color: #ececec;
    text-shadow: 1px 0px 1px black;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 20px;
	background-color: #f7f7f7;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgb(0,0,0);
}


input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}